<nav class="navbar">
  <div class="nav-wrapper">
    <span class="brand-logo">Fleet Management</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><button mat-button (click)="clickVehicle()">Vehicle</button></li>

      <li><button mat-button (click)="clickVehicleInformation()">Vehicle Information</button></li>
      <li><button mat-button (click)="clickDriverDetails()">Driver Details</button></li>
      <li><button mat-button (click)="clickRouteHistory()">Route History</button></li>
      <li><button mat-button (click)="clickGeofences()">Geofences </button></li>



    </ul>
  </div>
</nav>
